div {
	position: relative;
}


.background {
	width: 100%;
	background-size: cover;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

body {
	margin: 0;
}

.shopping {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 200px;
	width: 200px;
	padding-left: 520px;
	padding-top: 250px;
}